aiofiles==23.1.0
annotated-types==0.7.0
anthropic==0.26.1
anyio==4.4.0
attrs==23.2.0
blobfile==2.1.1
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
coverage==7.5.3
distro==1.9.0
fabdata-llm @ git+https://github.com/AI-for-Education/fabdata-llm.git@aeabf9dd2863a82dcd07b998c15056cc2ca8fdf7
filelock==3.14.0
fsspec==2024.6.0
h11==0.14.0
httpcore==1.0.5
httpx==0.25.2
huggingface-hub==0.23.3
idna==3.7
iniconfig==2.0.0
jiter==0.4.1
joblib==1.4.2
lxml==4.9.4
mistralai==0.1.8
numpy==1.26.4
openai==1.30.5
orjson==3.10.3
packaging==24.1
Pillow==10.3.0
pluggy==1.5.0
pycryptodomex==3.20.0
pydantic==2.7.3
pydantic_core==2.18.4
pytest==7.2.2
pytest-cov==4.0.0
pytest-dotenv==0.5.2
python-dotenv==1.0.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
safetensors==0.4.3
scikit-learn==1.5.0
scipy==1.13.1
sniffio==1.3.1
threadpoolctl==3.5.0
tiktoken==0.2.0
tokenizers==0.15.2
tqdm==4.66.4
transformers==4.38.2
typing_extensions==4.12.2
urllib3==2.2.2
